@{
  Layout = "_Layout";
}

<h1>Welcome to the Wide Wide World of Beer</h1>
<p>@Html.ActionLink("See all Beers", "Index", "Beers")</p> 
<p>@Html.ActionLink("See all Users", "Index", "Drinkers")</p>
<p>@Html.ActionLink("See all Reviews", "Index", "Reviews")</p>
