@{
  Layout = "_Layout";
}

@using BeerReview.Models;
@model List<BeerReview.Models.Drinker>;

<h1>Users</h1>

@if (@Model.Count == 0)
{
  <h3>No users have been added yet!</h3>
} 

@foreach (Drinker drinker in Model)
{
  <li>@Html.ActionLink($"{drinker.Name}", "Details", new { id = drinker.DrinkerId })</li>
}

<p>@Html.ActionLink("Add new user", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>