@{
  Layout = "_Layout";
}

@model BeerReview.Models.Beer

<h4>Add A Beer</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <input type="submit" value="Add Beer" />
}
<p>@Html.ActionLink("See All Beers", "Index")</p>