<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Beer Review!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <div id="page-container">
    <div id="content-wrap">
      <body>
        @await Html.PartialAsync("Header")
        <div class="container">
          @RenderBody()
        </div>
      </body>
    </div>
    <footer>
      @await Html.PartialAsync("Footer")
    </footer>
  </div>
</html>